In [1]:
# Get the environment ready
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Install Spark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [3]:
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.6.tgz # Get Spark Installer version

In [4]:
!tar xf spark-2.4.7-bin-hadoop2.6.tgz # Untarring Spark Installer

In [5]:
!pip install -q findspark

In [6]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.7-bin-hadoop2.6"

In [7]:
!pip install -q pyspark

In [8]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
# Colab is ready to run Pyspark!

In [9]:
from pyspark import SparkContext
sc =SparkContext.getOrCreate()

In [10]:
# Read Amazon_Responded_Oct05 data 
data = spark.read.format("csv").option("header","true").load("drive/My\ Drive/Colab\ Notebooks/Amazon_Responded_Oct05.csv")

In [11]:
data.show(5)

+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+-------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+
|              id_str|    tweet_created_at|user_screen_name|user_id_str|user_statuses_count|user_favourites_count|user_protected|user_listed_count|user_following|    user_description|user_location|user_verified|user_followers_count|user_friends_count|     user_created_at|tweet_language|               text_|favorite_count|favorited|in_reply_to_screen_name|in_reply_to_status_id_str|in_reply_to_user_id_str|retweet_count|retweeted|                text|
+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+-------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+
|'793270689780203520'|Tue Nov 01 01:57:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp Can y...|             0|    False|             AmazonHelp|                     null|               85741735|            0|    False|                null|
|'793281386912354304'|Tue Nov 01 02:39:...|      AmazonHelp|   85741735|            2225450|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149569|                53|Wed Oct 28 04:17:...|            en|@SeanEPanjab I'm ...|             0|    False|            SeanEPanjab|     7.932706897802035...|              143515471|            0|    False|                null|
|'793501578766319616'|Tue Nov 01 17:14:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp It wa...|             0|    False|             AmazonHelp|     7.932813869123543...|               85741735|            0|    False|@AmazonHelp It wa...|
|'793501657346682880'|Tue Nov 01 17:15:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp I am ...|             0|    False|             AmazonHelp|     7.932813869123543...|               85741735|            0|    False|                null|
|'793502854459879424'|Tue Nov 01 17:19:...|      AmazonHelp|   85741735|            2225450|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149569|                53|Wed Oct 28 04:17:...|            en|@SeanEPanjab Plea...|             0|    False|            SeanEPanjab|     7.935015787663196...|              143515471|            0|    False|@SeanEPanjab Plea...|
+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+-------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+
only showing top 5 rows

In [12]:
new_data = data.select( "tweet_created_at", "user_screen_name", "user_id_str", "text_")

In [13]:
new_rdd = new_data.withColumn("day", new_data.tweet_created_at.substr(5,6))

In [14]:
new_data.show(5)

+--------------------+----------------+-----------+--------------------+
|    tweet_created_at|user_screen_name|user_id_str|               text_|
+--------------------+----------------+-----------+--------------------+
|Tue Nov 01 01:57:...|     SeanEPanjab|  143515471|@AmazonHelp Can y...|
|Tue Nov 01 02:39:...|      AmazonHelp|   85741735|@SeanEPanjab I'm ...|
|Tue Nov 01 17:14:...|     SeanEPanjab|  143515471|@AmazonHelp It wa...|
|Tue Nov 01 17:15:...|     SeanEPanjab|  143515471|@AmazonHelp I am ...|
|Tue Nov 01 17:19:...|      AmazonHelp|   85741735|@SeanEPanjab Plea...|
+--------------------+----------------+-----------+--------------------+
only showing top 5 rows

In [15]:
expression = r"\w{3} \d{2}"
df = new_rdd.filter(new_rdd["day"].rlike(expression ))

In [16]:
df.show()

+--------------------+----------------+-----------+--------------------+------+
|    tweet_created_at|user_screen_name|user_id_str|               text_|   day|
+--------------------+----------------+-----------+--------------------+------+
|Tue Nov 01 01:57:...|     SeanEPanjab|  143515471|@AmazonHelp Can y...|Nov 01|
|Tue Nov 01 02:39:...|      AmazonHelp|   85741735|@SeanEPanjab I'm ...|Nov 01|
|Tue Nov 01 17:14:...|     SeanEPanjab|  143515471|@AmazonHelp It wa...|Nov 01|
|Tue Nov 01 17:15:...|     SeanEPanjab|  143515471|@AmazonHelp I am ...|Nov 01|
|Tue Nov 01 17:19:...|      AmazonHelp|   85741735|@SeanEPanjab Plea...|Nov 01|
|Tue Nov 01 17:25:...|      AmazonHelp|   85741735|@SeanEPanjab With...|Nov 01|
|Tue Nov 01 17:55:...|     SeanEPanjab|  143515471|@AmazonHelp It wa...|Nov 01|
|Tue Nov 01 17:55:...|     SeanEPanjab|  143515471|@AmazonHelp if it...|Nov 01|
|Tue Nov 01 18:02:...|      AmazonHelp|   85741735|@SeanEPanjab I'm ...|Nov 01|
|Tue Nov 01 03:51:...|   aakashwangnoo|   71457972|@JeffBezos @amazo...|Nov 01|
|Tue Nov 01 03:59:...|      AmazonHelp|   85741735|@aakashwangnoo Hi...|Nov 01|
|Tue Nov 01 11:00:...|   aakashwangnoo|   71457972|@AmazonHelp How m...|Nov 01|
|Tue Nov 01 12:03:...|      AmazonHelp|   85741735|@aakashwangnoo Hi...|Nov 01|
|Tue Nov 01 12:03:...|      AmazonHelp|   85741735|@aakashwangnoo Pl...|Nov 01|
|Tue Nov 01 14:57:...|   aakashwangnoo|   71457972|@AmazonHelp @amaz...|Nov 01|
|Tue Nov 01 16:38:...|      AmazonHelp|   85741735|@aakashwangnoo Hi...|Nov 01|
|Tue Nov 01 19:27:...|   aakashwangnoo|   71457972|@AmazonHelp @amaz...|Nov 01|
|Tue Nov 01 19:28:...|   aakashwangnoo|   71457972|@AmazonHelp @amaz...|Nov 01|
|Tue Nov 01 19:38:...|   aakashwangnoo|   71457972|@AmazonHelp @amaz...|Nov 01|
|Tue Nov 01 19:40:...|   aakashwangnoo|   71457972|@AmazonHelp @amaz...|Nov 01|
+--------------------+----------------+-----------+--------------------+------+
only showing top 20 rows

In [17]:
df.createOrReplaceTempView("Amazon") # Rename the data

## **TASKS**

### **Step 1**


Create a dataframe “daily_active_users”. Find out the users who are active in at least five listed days (i.e., created posts in at least 5 days) in Amazon_Responded_Oct05.csv and save their “user_screen_name” and “user_id_str” in the dataframe.

In [18]:
# Let's find the total number of days in Amazon dataset
spark.sql("SELECT COUNT(DISTINCT(day)) FROM Amazon WHERE day NOT LIKE 'has%' ").show()

+-------------------+
|count(DISTINCT day)|
+-------------------+
|                279|
+-------------------+

In [19]:
# From the above query, we know that users posted for 279 days. Now, let's find users that posted on ALL DAYS 
spark.sql("SELECT user_screen_name, user_id_str FROM Amazon GROUP BY user_id_str, user_screen_name HAVING COUNT(DISTINCT(day))= 279").show()

+----------------+-----------+
|user_screen_name|user_id_str|
+----------------+-----------+
|      AmazonHelp|   85741735|
+----------------+-----------+

In [20]:
# Next, we find users who are active in at least five listed days (i.e., created posts in at least 5 days)
daily_active_users = spark.sql("SELECT user_screen_name, user_id_str, COUNT(DISTINCT(day)) as days_active FROM Amazon GROUP BY user_id_str, user_screen_name HAVING COUNT(DISTINCT(day)) >= 5 ORDER BY user_screen_name")
daily_active_users.show()

+----------------+------------------+-----------+
|user_screen_name|       user_id_str|days_active|
+----------------+------------------+-----------+
|          0xJAKE|        4146949275|          5|
|         2SixTwo|        3789082213|          7|
| 353839052d72499|        3025211876|          9|
|   5thLineTalent|          24237942|          5|
|          AW0079|          21064452|         13|
|  Abhinav1bansal|        3315608602|          5|
|        AgentDie|        2200871844|          7|
|  Ahmed_Awad1212|          62705229|          5|
|       AjeetKarn|         278977971|          5|
|    AkiraSakura2|        1064415878|          6|
|  Akshay_goplani|        2889927415|         10|
| Alfonsiawarrior|        2333955555|          7|
|         Alokzgh|733116597825495040|          5|
|      AmazonHelp|          85741735|        279|
|          Amez_W|        1341265634|          5|
|        AmpersUK|         214049826|          5|
| AmyUnitedStates|        2953709027|          5|
|    AndyMRoberts|         301381979|          6|
|           Aosc2|        1543185697|          5|
|        Arthi305|737607555858325504|          7|
+----------------+------------------+-----------+
only showing top 20 rows

### **Step 2**

A company would like to conduct an A/B test on Twitter. The experiment.txt file includes the user_id_str they selected as potential experiment targets. Please create a dataframe “experiment_user” to document the selected user id and whether they are active users (join the dataframe from step 1).

In [21]:
experiment = spark.read.csv("/content/drive/My Drive/MIS/Fall 2020/IDS 561 Big data/experiment.txt")

In [22]:
experiment= experiment.selectExpr("_c0 as userid")

In [23]:
experiment.show(5)
experiment.dtypes

+----------+
|    userid|
+----------+
| 143515471|
|  85741735|
|  71457972|
|2908108256|
| 106799492|
+----------+
only showing top 5 rows

[('userid', 'string')]

In [24]:
#Join the output tables
join = (experiment.userid == daily_active_users.user_id_str)

In [25]:
#Perform a full join on the tables
df2 = daily_active_users.join(experiment, join, how="full")

In [26]:
from pyspark.sql import functions as F

In [27]:
df2 = df2.withColumn("Whether_active", F.when(F.col("user_id_str") == F.col("userid"), "yes").otherwise("no"))

In [28]:
# Clean data by filtering null screen names
df2= df2.filter(df2.user_screen_name.isNotNull())
df2.show()

+----------------+------------------+-----------+------------------+--------------+
|user_screen_name|       user_id_str|days_active|            userid|Whether_active|
+----------------+------------------+-----------+------------------+--------------+
|          0xJAKE|        4146949275|          5|              null|            no|
|         2SixTwo|        3789082213|          7|              null|            no|
| 353839052d72499|        3025211876|          9|              null|            no|
|   5thLineTalent|          24237942|          5|              null|            no|
|          AW0079|          21064452|         13|          21064452|           yes|
|  Abhinav1bansal|        3315608602|          5|              null|            no|
|        AgentDie|        2200871844|          7|              null|            no|
|  Ahmed_Awad1212|          62705229|          5|              null|            no|
|       AjeetKarn|         278977971|          5|              null|            no|
|    AkiraSakura2|        1064415878|          6|              null|            no|
|  Akshay_goplani|        2889927415|         10|              null|            no|
| Alfonsiawarrior|        2333955555|          7|              null|            no|
|         Alokzgh|733116597825495040|          5|              null|            no|
|      AmazonHelp|          85741735|        279|          85741735|           yes|
|          Amez_W|        1341265634|          5|        1341265634|           yes|
|        AmpersUK|         214049826|          5|         214049826|           yes|
| AmyUnitedStates|        2953709027|          5|              null|            no|
|    AndyMRoberts|         301381979|          6|         301381979|           yes|
|           Aosc2|        1543185697|          5|        1543185697|           yes|
|        Arthi305|737607555858325504|          7|737607555858325504|           yes|
+----------------+------------------+-----------+------------------+--------------+
only showing top 20 rows

In [29]:
new_user = df2.drop("user_id_str", "userid")

In [30]:
# Show if a user is active or not
new_user = new_user.selectExpr("user_screen_name as user_id_str", "Whether_active")
new_user.show(20) # Show only 20 records

+---------------+--------------+
|    user_id_str|Whether_active|
+---------------+--------------+
|         0xJAKE|            no|
|        2SixTwo|            no|
|353839052d72499|            no|
|  5thLineTalent|            no|
|         AW0079|           yes|
| Abhinav1bansal|            no|
|       AgentDie|            no|
| Ahmed_Awad1212|            no|
|      AjeetKarn|            no|
|   AkiraSakura2|            no|
| Akshay_goplani|            no|
|Alfonsiawarrior|            no|
|        Alokzgh|            no|
|     AmazonHelp|           yes|
|         Amez_W|           yes|
|       AmpersUK|           yes|
|AmyUnitedStates|            no|
|   AndyMRoberts|           yes|
|          Aosc2|           yes|
|       Arthi305|           yes|
+---------------+--------------+
only showing top 20 rows

In [31]:
# Filter out users who are active users and who are not
active = new_user.filter(new_user.Whether_active.contains("yes")).count()
inactive = new_user.filter(new_user.Whether_active.contains("no")).count()

In [32]:
# Calculate the percentage of active users
percentage_of_active_users = (active/(active+inactive))*100

In [33]:
percentage_of_active_users

20.404721753794266

### **Step 3**

Perform a 3-table join task

In [34]:
data.show(10)

+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+-------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+
|              id_str|    tweet_created_at|user_screen_name|user_id_str|user_statuses_count|user_favourites_count|user_protected|user_listed_count|user_following|    user_description|user_location|user_verified|user_followers_count|user_friends_count|     user_created_at|tweet_language|               text_|favorite_count|favorited|in_reply_to_screen_name|in_reply_to_status_id_str|in_reply_to_user_id_str|retweet_count|retweeted|                text|
+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+-------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+
|'793270689780203520'|Tue Nov 01 01:57:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp Can y...|             0|    False|             AmazonHelp|                     null|               85741735|            0|    False|                null|
|'793281386912354304'|Tue Nov 01 02:39:...|      AmazonHelp|   85741735|            2225450|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149569|                53|Wed Oct 28 04:17:...|            en|@SeanEPanjab I'm ...|             0|    False|            SeanEPanjab|     7.932706897802035...|              143515471|            0|    False|                null|
|'793501578766319616'|Tue Nov 01 17:14:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp It wa...|             0|    False|             AmazonHelp|     7.932813869123543...|               85741735|            0|    False|@AmazonHelp It wa...|
|'793501657346682880'|Tue Nov 01 17:15:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp I am ...|             0|    False|             AmazonHelp|     7.932813869123543...|               85741735|            0|    False|                null|
|'793502854459879424'|Tue Nov 01 17:19:...|      AmazonHelp|   85741735|            2225450|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149569|                53|Wed Oct 28 04:17:...|            en|@SeanEPanjab Plea...|             0|    False|            SeanEPanjab|     7.935015787663196...|              143515471|            0|    False|@SeanEPanjab Plea...|
|'793504235400884224'|Tue Nov 01 17:25:...|      AmazonHelp|   85741735|            2225450|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149569|                53|Wed Oct 28 04:17:...|            en|@SeanEPanjab With...|             0|    False|            SeanEPanjab|     7.935016573466829...|              143515471|            0|    False|                null|
|'793511847899070465'|Tue Nov 01 17:55:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp It wa...|             0|    False|             AmazonHelp|     7.935042354008842...|               85741735|            0|    False|                null|
|'793511899279208449'|Tue Nov 01 17:55:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp if it...|             0|    False|             AmazonHelp|     7.935042354008842...|               85741735|            0|    False|                null|
|'793513446633533440'|Tue Nov 01 18:02:...|      AmazonHelp|   85741735|            2225450|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149569|                53|Wed Oct 28 04:17:...|            en|@SeanEPanjab I'm ...|             0|    False|            SeanEPanjab|     7.935118992792084...|              143515471|            0|    False|@SeanEPanjab I'm ...|
|'793299404975247360'|Tue Nov 01 03:51:...|   aakashwangnoo|   71457972|                592|                  471|         False|               11|         False|Don't try to be G...|    New Delhi|        False|                 234|                57|Fri Sep 04 04:55:...|            en|@JeffBezos @amazo...|             0|    False|              JeffBezos|                     null|               15506669|            0|    False|                null|
+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+-------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+
only showing top 10 rows

In [35]:
new_user.show(10)

+---------------+--------------+
|    user_id_str|Whether_active|
+---------------+--------------+
|         0xJAKE|            no|
|        2SixTwo|            no|
|353839052d72499|            no|
|  5thLineTalent|            no|
|         AW0079|           yes|
| Abhinav1bansal|            no|
|       AgentDie|            no|
| Ahmed_Awad1212|            no|
|      AjeetKarn|            no|
|   AkiraSakura2|            no|
+---------------+--------------+
only showing top 10 rows

In [36]:
daily_active_users.show(10)

+----------------+-----------+-----------+
|user_screen_name|user_id_str|days_active|
+----------------+-----------+-----------+
|          0xJAKE| 4146949275|          5|
|         2SixTwo| 3789082213|          7|
| 353839052d72499| 3025211876|          9|
|   5thLineTalent|   24237942|          5|
|          AW0079|   21064452|         13|
|  Abhinav1bansal| 3315608602|          5|
|        AgentDie| 2200871844|          7|
|  Ahmed_Awad1212|   62705229|          5|
|       AjeetKarn|  278977971|          5|
|    AkiraSakura2| 1064415878|          6|
+----------------+-----------+-----------+
only showing top 10 rows

In [38]:
# Joining the 3 tables 
joinA= (new_user.user_id_str == daily_active_users.user_screen_name)
joinB= (daily_active_users.user_screen_name == data.user_screen_name)

dfA = daily_active_users.join(new_user, joinA, how="inner").join(data, joinB, how="right")
dfB= dfA.filter(df.user_screen_name.isNotNull())
dfB.show()

+----------------+-----------+-----------+--------------+--------------+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+------------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+
|user_screen_name|user_id_str|days_active|   user_id_str|Whether_active|              id_str|    tweet_created_at|user_screen_name|user_id_str|user_statuses_count|user_favourites_count|user_protected|user_listed_count|user_following|    user_description|     user_location|user_verified|user_followers_count|user_friends_count|     user_created_at|tweet_language|               text_|favorite_count|favorited|in_reply_to_screen_name|in_reply_to_status_id_str|in_reply_to_user_id_str|retweet_count|retweeted|                text|
+----------------+-----------+-----------+--------------+--------------+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+------------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'813003192896258048'|Sun Dec 25 12:47:...|  Green_JamesBee|  466384851|              14934|                 2492|         False|               29|         False|Charity comms bod...|Lewisham, London, |        False|                 629|              1190|Tue Jan 17 10:35:...|            en|Mum's @AmazonUK o...|             0|    False|                   null|                     null|                   null|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'813005918401130497'|Sun Dec 25 12:58:...|  Green_JamesBee|  466384851|              14934|                 2492|         False|               29|         False|Charity comms bod...|Lewisham, London, |        False|                 629|              1190|Tue Jan 17 10:35:...|            en|@AmazonHelp it's ...|             0|    False|             AmazonHelp|     8.130052269827359...|             85741735.0|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'813009506993049600'|Sun Dec 25 13:12:...|  Green_JamesBee|  466384851|              14934|                 2492|         False|               29|         False|Charity comms bod...|Lewisham, London, |        False|                 629|              1190|Tue Jan 17 10:35:...|            en|@AmazonHelp and y...|             0|    False|             AmazonHelp|     8.130064191842877...|             85741735.0|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'813035524285988864'|Sun Dec 25 14:55:...|  Green_JamesBee|  466384851|              14934|                 2492|         False|               29|         False|Charity comms bod...|Lewisham, London, |        False|                 629|              1190|Tue Jan 17 10:35:...|            en|@AmazonHelp the o...|             0|    False|             AmazonHelp|     8.130064191842877...|             85741735.0|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'813037115818831872'|Sun Dec 25 15:02:...|  Green_JamesBee|  466384851|              14934|                 2492|         False|               29|         False|Charity comms bod...|Lewisham, London, |        False|                 629|              1190|Tue Jan 17 10:35:...|            en|@AmazonHelp ok I'...|             0|    False|             AmazonHelp|     8.130064191842877...|             85741735.0|            0|    False|@AmazonHelp ok I'...|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'813042308925030400'|Sun Dec 25 15:22:...|  Green_JamesBee|  466384851|              14934|                 2492|         False|               29|         False|Charity comms bod...|Lewisham, London, |        False|                 629|              1190|Tue Jan 17 10:35:...|            en|@AmazonHelp none ...|             0|    False|             AmazonHelp|     8.130412306323374...|             85741735.0|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'813425652770672641'|Mon Dec 26 16:46:...|  Green_JamesBee|  466384851|              14934|                 2492|         False|               29|         False|Charity comms bod...|Lewisham, London, |        False|                 629|              1190|Tue Jan 17 10:35:...|            en|@AmazonHelp you k...|             0|    False|             AmazonHelp|     8.130492873409454...|             85741735.0|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'813425960678735872'|Mon Dec 26 16:47:...|  Green_JamesBee|  466384851|              14934|                 2492|         False|               29|         False|Charity comms bod...|Lewisham, London, |        False|                 629|              1190|Tue Jan 17 10:35:...|            en|"@AmazonHelp how ...|             0|    False|             AmazonHelp|     8.130492873409454...|             85741735.0|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'826511782890049537'|Tue Jan 31 19:25:...|  Green_JamesBee|  466384851|              14861|                 2445|         False|               28|         False|Comms & engagemen...|Lewisham, London, |        False|                 625|              1178|Tue Jan 17 10:35:...|            en|Hi @AmazonHelp th...|             0|    False|                   null|                     null|                   null|            0|    False|Hi @AmazonHelp th...|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'826513167476019200'|Tue Jan 31 19:31:...|  Green_JamesBee|  466384851|              14861|                 2445|         False|               28|         False|Comms & engagemen...|Lewisham, London, |        False|                 625|              1178|Tue Jan 17 10:35:...|            en|@AmazonHelp I had...|             0|    False|             AmazonHelp|     8.265129978624737...|             85741735.0|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'826516145196957696'|Tue Jan 31 19:42:...|  Green_JamesBee|  466384851|              14861|                 2445|         False|               28|         False|Comms & engagemen...|Lewisham, London, |        False|                 625|              1178|Tue Jan 17 10:35:...|            en|@AmazonHelp can y...|             0|    False|             AmazonHelp|     8.265129978624737...|             85741735.0|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'826535787898556418'|Tue Jan 31 21:01:...|  Green_JamesBee|  466384851|              14861|                 2445|         False|               28|         False|Comms & engagemen...|Lewisham, London, |        False|                 625|              1178|Tue Jan 17 10:35:...|            en|@AmazonHelp hi, t...|             0|    False|             AmazonHelp|     8.265177980798894...|             85741735.0|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'826537152163016704'|Tue Jan 31 21:06:...|  Green_JamesBee|  466384851|              14861|                 2445|         False|               28|         False|Comms & engagemen...|Lewisham, London, |        False|                 625|              1178|Tue Jan 17 10:35:...|            en|@AmazonHelp no. Y...|             0|    False|             AmazonHelp|     8.265370367860695...|             85741735.0|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'826540393101660162'|Tue Jan 31 21:19:...|  Green_JamesBee|  466384851|              14861|                 2445|         False|               28|         False|Comms & engagemen...|Lewisham, London, |        False|                 625|              1178|Tue Jan 17 10:35:...|            en|@AmazonHelp I'm o...|             0|    False|             AmazonHelp|     8.265384025647309...|             85741735.0|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'826853382967160832'|Wed Feb 01 18:03:...|  Green_JamesBee|  466384851|              14861|                 2445|         False|               28|         False|Comms & engagemen...|Lewisham, London, |        False|                 625|              1178|Tue Jan 17 10:35:...|            en|The @AmazonHelp s...|             0|    False|                   null|                     null|                   null|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'826857693344387072'|Wed Feb 01 18:20:...|  Green_JamesBee|  466384851|              14861|                 2445|         False|               28|         False|Comms & engagemen...|Lewisham, London, |        False|                 625|              1178|Tue Jan 17 10:35:...|            en|.@AmazonHelp it's...|             0|    False|             AmazonHelp|     8.268575079309025...|             85741735.0|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'827094093654290432'|Thu Feb 02 09:59:...|  Green_JamesBee|  466384851|              14861|                 2445|         False|               28|         False|Comms & engagemen...|Lewisham, London, |        False|                 625|              1178|Tue Jan 17 10:35:...|            en|I don't believe t...|             0|    False|                   null|                     null|                   null|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'827096611000025088'|Thu Feb 02 10:09:...|  Green_JamesBee|  466384851|              14861|                 2445|         False|               28|         False|Comms & engagemen...|Lewisham, London, |        False|                 625|              1178|Tue Jan 17 10:35:...|            en|@AmazonHelp it's ...|             0|    False|             AmazonHelp|     8.27096069653803e+17|             85741735.0|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'827097739171348480'|Thu Feb 02 10:14:...|  Green_JamesBee|  466384851|              14861|                 2445|         False|               28|         False|Comms & engagemen...|Lewisham, London, |        False|                 625|              1178|Tue Jan 17 10:35:...|            en|@AmazonHelp I jus...|             0|    False|             AmazonHelp|     8.27096069653803e+17|             85741735.0|            0|    False|                null|
|  Green_JamesBee|  466384851|          6|Green_JamesBee|            no|'827461683987828736'|Fri Feb 03 10:20:...|  Green_JamesBee|  466384851|              14861|                 2445|         False|               28|         False|Comms & engagemen...|Lewisham, London, |        False|                 625|              1178|Tue Jan 17 10:35:...|            en|Day 4 of waiting ...|             0|    False|                   null|                     null|                   null|            0|    False|                null|
+----------------+-----------+-----------+--------------+--------------+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+------------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+
only showing top 20 rows

In [39]:
import pandas as pd
df_final = dfB.toPandas()

In [40]:
df_final.to_csv("/content/drive/My Drive/MIS/Fall 2020/IDS 561 Big data/Amazon_new.csv", header = True, index=False)